:root {
  /* viewport size */
  --desktop: 1080px;
  --mobile: 640px;

  /* palette */
  /* light theme */
  --bgc-lt: #cae9ff;
  --add-bgc-lt: #5fa8d3;
  --text-lt: #333333;
  /* dark theme */
  --bgc-dt: #333333;
  --add-bgc-dt: #000000;
  --text-dt: #eeeeee;
  /* custom theme */
  --bgc-ct: #8d8d8d;
  --add-bgc-ct: #5a5a5a;
  --text-ct: #eeeeee;
}

/* reset */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  transition: transform ease-out 200ms;
}

a:hover {
  transform: scale(1.1);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* common */

body {
  margin: 0;
  padding: 70px 0;
  color: var(--text-lt);
  background-color: var(--bgc-lt);
  font-family: "Roboto", sans-serif;
}

@media (max-width: 640px) {
  body {
    padding-bottom: 120px;
  }
}

body.dark-theme {
  color: var(--text-dt);
  background-color: var(--bgc-dt);
}

body.custom-theme {
  color: var(--text-ct);
  background-color: var(--bgc-ct);
}

/* header */

header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--add-bgc-lt);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

header.dark-theme {
  background-color: var(--add-bgc-dt);
}

header.custom-theme {
  background-color: var(--add-bgc-ct);
}

header > div {
  margin: 0 auto;
  padding: 20px;
  width: var(--desktop);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 641px) and (max-width: 1079px) {
  header > div {
    width: 100%;
  }
}

@media (max-width: 640px) {
  header > div {
    width: 100%;
  }
}

header a {
  font-size: x-large;
}

header form {
  display: flex;
  gap: 25px;
}

/* main */

main {
  padding: 20px;
  margin: 0 auto;
  width: var(--desktop);
}

@media (min-width: 641px) and (max-width: 1079px) {
  main {
    width: 100%
  }
}

@media (max-width: 640px) {
  main {
    width: 100%;
  }
}

h1 {
  margin: 20px 0;
  text-align: center;
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
   background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gleam 5s infinite linear;
}

@keyframes gleam {
  0% 
    {background-position: 0}
  100%
    {background-position: 728px}
}

img {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* gallery grid */

main > div {
  display: grid;
  grid-template-columns: repeat(4, [col] 1fr);
  grid-template-rows: repeat(7, [row] 1fr);
  grid-gap: 20px;
}

@media (min-width: 1080px) {
  main > div > div:nth-of-type(12n + 1) {
    grid-column: span 3;
    grid-row: span 3;
  }
  
  
  main > div > div:nth-of-type(12n + 10) {
    grid-column: 2 / span 3;
    grid-row: span 3;
  }
}

@media (min-width: 641px) and (max-width: 1079px) {
  main > div {
    grid-template-columns: repeat(3, [col] 1fr);
    grid-template-rows: repeat(16, [row] 1fr);
  }

  main > div > div:nth-of-type(3n + 1) {
    grid-column: span 2;
    grid-row: span 2;
  }
}

@media (max-width: 640px) {
  main > div {
    grid-template-columns: repeat(3, [col] 1fr);
    grid-template-rows: repeat(12, [row] 1fr);
  }

  main > div > div:nth-of-type(4n + 1) {
    grid-column: span 3;
    grid-row: span 3;
  }
}

/* footer */

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: var(--add-bgc-lt);
  box-shadow: -4px -4px 8px 0px rgba(34, 60, 80, 0.2);
}

footer.dark-theme {
  background-color: var(--add-bgc-dt);
}

footer.custom-theme {
  background-color: var(--add-bgc-ct);
}

footer > div {
  margin: 0 auto;
  padding: 20px;
  max-width: var(--desktop);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 641px) and (max-width: 1079px) {
  footer > div {
    width: 100%;
  }
}

@media (max-width: 640px) {
  footer > div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

footer div {
  display: flex;
  gap: 30px;
}

footer div > a {
  text-decoration: underline;
}

footer > div > ul {
  display: flex;
  font-size: 25px;
  gap: 12px;
}

footer li {
  transition: transform ease-out 200ms;
}

footer li:hover {
  transform: scale(1.2);
} 

/* modal */
body > div:nth-of-type(1) {
  position: fixed;
  width: 100vw;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

body > div:nth-of-type(2) {
  position: fixed;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

body > div:nth-of-type(2) > div {
  border-radius: 10px;
  padding: 20px;
  background: #fff;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.2);
}

.hidden {
  display: none;
}